body{
    background-color: lightblue;
    text-align: center;
}
.wrapper{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
.circle{
    width: 100px;
    padding: 50px 0;
    line-height: 0;
    color: white;
    background: pink;
    border-radius: 50px;
    cursor: pointer;
    /* transition: [what-you-want-to-change] [transition-time-in-sec] */
    /* what-you-want-to-change: params specified in the class .circle:hover;
       changes appears when the object changes its state. */
    /* also: transition: [transition-time-in-sec]  */
    transition: background 1s, transform 1s 1s ease;
}
.circle:hover{
    background-color: salmon;
    transform: rotate(360deg);
}
